*{
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: rgb(33, 25, 21);
    /*outline: 1px solid red;*/
}

html{
    overflow: auto;
}
.container{
    display:flex;
    justify-content: space-between;
    min-height: 50vh;
    background-image: url("img/hockey-2.jpg");
    background-size: cover;
    /*outline: 1px solid red;*/
}

body{
    min-height: 100vh;
    background-color: white;
}


header{
    background-image: url("img/design1_image1.jpg");
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 37vh;
    min-width: 95vw;
    background-origin: content-box;
    background-position-y: -65vh;
}

header h1{
    padding:1vh;
    padding-right: 1rem;
    font-size: 4.5vh;
    font-weight:900;
    width: 100%;
    background-color: rgb(95, 161, 153);
    text-align: right;
    color: rgb(248, 225, 46);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(198, 72, 50);
    text-shadow: 1px  0px 0px rgb(198, 72, 50),
               0px  1px 0px rgb(198, 72, 50),
              -1px  0px 0px rgb(198, 72, 50),
               0px -1px 0px rgb(198, 72, 50);
               
}

.separator{
    min-height: 6vh;
    text-align: center;
    border: 1px solid rgb(198, 72, 50);
    border-bottom: 10px solid rgb(198, 72, 50);
    color: white;
    background-color: rgb(248, 225, 46);
    text-transform: uppercase;
}

.separator h2:hover{
    transform: Scale(1);
}

.separator h2{
    font-weight: 800;
    transition: all 0.3s;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    color: white;
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
               transform: Scale(1.2);
}

header img{
    display: block;
    min-height: 20vh;
    height: 30vh;
    transition: all 0.6s;
    padding-left: 2rem;
}

header img:hover{
    transform: rotatez(-40deg);
}

nav{
    margin-left: 1vw;
    min-width: 12rem;
    padding: 1rem;
    padding-top: 2rem;
    vertical-align: top;
    background-color: rgb(33, 25, 21);
    border: 2px solid rgb(198, 72, 50);
    border-top-width: 0px;
}

nav a{
    border-radius: 20px 20px 0 0;
    padding: 5px;
    display: block;
    margin-bottom: 3rem;
    color: white;
    font-weight:700;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
    border: 1px solid rgb(198, 72, 50);
    transition: all 0.2s;
}

a{
    color: rgb(248, 225, 46);
}

a:visited{
    color: rgb(214, 138, 37);
}

a:hover{
    color: rgb(253, 180, 24);
}

nav a:active{
    color: rgb(248, 225, 46);
}

nav a:visited{
    color: white;
    
}

nav a:focus{
    color: rgb(248, 225, 46);
}

nav a:hover{
    background-color: rgb(219, 96, 74);
    transform: rotatez(5deg);
}

nav a[href="#"]{
    color: rgb(248, 225, 46);
}

main h3,main legend{
    font-weight: 600;
    color: rgb(248, 225, 46);
}

main h2{
    color: rgb(198, 72, 50);
    color: rgb(248, 225, 46);
    border-bottom: 1px solid rgb(198, 72, 50);
    text-shadow: 1px  0px 0px rgb(198, 72, 50),
               0px  1px 0px rgb(198, 72, 50),
              -1px  0px 0px rgb(198, 72, 50),
               0px -1px 0px rgb(198, 72, 50);
    margin-bottom: 1rem;
}

main{
    padding: 2rem;
    max-width: 70vw;
    min-width: 5vw;
    margin-right: 5vw;
    margin-left: 2vw;
    background-color: rgb(33, 25, 21);
    color:white;
    margin-top:4vh;
    margin-bottom: 2vh;
    border-radius: 40px;
    border: 2px solid rgb(198, 72, 50);
    overflow-x: auto;
    flex-grow: 1;
}

main li,main p,main span{
    color:white;
}

main li{
    margin-left: 2.5rem;
    font-weight: 600;
    font-size: large;
}

main ul{
    margin-left: 2rem;
}

main li li{
    font-weight: 400;
    font-size: medium;
}

main p{
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: medium;
    padding-bottom: 2rem;
}

dl p{
    padding-bottom: 0;
}

dd{
    padding-bottom: 2rem;
}


main li p{
    padding-left: 0;
}



main span{
    font-weight: 600;
    font-size: large;
}
footer{
    min-height: 5vh;
    background-color: rgb(198, 72, 50);
}

.nota{
    padding-left: 0;
}

ul.none{
    list-style-type:none;
}

ul.none,ul.none li{
    margin-left: 0;
    padding-left: 0;
}

.doble-col{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.doble-col li{
    min-width: 10vw;
    display: flex;
}

table p{
    margin: 0;
    padding: 0;
}

td,th{
    border: 1px solid rgb(198, 72, 50);
    padding: 10px;
    text-align: center;
    min-width: 1vw;
}

th p span{
    color: rgb(248, 225, 46);
    font-weight: 800;
}

th{
    background-color: rgb(198, 72, 50);
}
table{
    border: 2px solid rgb(198, 72, 50);
    flex-grow: 1;
}

table p, table span{
    font-size: small;
}

.tabla{
    display:flex;
    margin-bottom: 2rem;
    min-width: none;
}
nav a.importante{
    background-color: rgb(198, 72, 50);
}











main legend, form h2{
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: 800;
    text-align: center;
    
}

form h2{
    border:none;
    text-shadow: none;
    background-color: rgb(198, 72, 50);
    padding-bottom: 0.5rem;
   
}

form h2.ini{
    border-radius: 10px 10px 0 0;
}

form button{
    background-color: rgb(248, 225, 46);
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
    margin-right: 1.5rem;
    width: 8vw;
    color: white;
    font-weight: 800;
    text-shadow: 1px  0px 0px black,
               0px  1px 0px black,
              -1px  0px 0px black,
               0px -1px 0px black;
    transition: 0.3s;
    border: 1px solid white;
    min-width: 5rem;
}
label{
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 1rem;
    
}
form p{
    padding: 1rem;
    text-align: justify;
    padding-top: 0;
}

input{
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    background-color: rgb(33, 25, 21);
    border: none;
    border-bottom: 1px solid white;
    color: rgb(248, 225, 46);
    flex-grow: 1;
}

input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(248, 225, 46);
}

input:hover{
    border: none;
    border-bottom: 1px solid rgb(248, 225, 46);
}

form button:hover{
    background-color: rgb(216, 95, 39);
    transform: scale(1.1);
}
form h4{
    color:white;
    font-weight: 400;
    padding-right: 0.5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

input[type="radio"],input[type="checkbox"]{
    accent-color:rgb(248, 225, 46);
    margin-right: 0.2rem;
}

input[type="radio"]:hover,input[type="checkbox"]:hover{
    accent-color: black;
}
input[name="zip"]{
    text-transform: uppercase;
}

input.c{
    text-transform: capitalize;
}

h4 span{
    font-weight: 900;
    font-size: large;
}

.izq{
    text-align: left;
    padding-left: 1rem;
}
















form{
    border: 1px white solid;
    border-radius: 20px;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;

}

fieldset{
    border: none;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 1rem;
}

table.formulario,table.formulario td,table.formulario th{
    border: none;
}

table.formulario{
    flex-grow: 1;
}

form td{
    text-align: left;
}









div.filaform{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

form button{
    align-self: flex-end;
}


















@media only screen and (max-width:768px){
    table.formulario th{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    table.formulario td{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    

    nav a{
        font-size: 8pt;
    }

    nav{
        min-width: 10vw;
    }

    nav a{
        margin-left: 0;
        padding-left: 0;
    }
}



@media only screen and (max-width:560px){
    main,fieldset,table,form{
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
    }
}


@media only screen and (max-width:350px){
    .container{
        flex-direction: column;
        align-content: stretch;
    }
    main,nav,body,.container{
        width: 100vw;
        max-width: 100vw;
    }
}